*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif;
}

.content{
    width: 25%;
    height: 57%;
    padding: 3%;
    margin: 7.8% 21%;
    color: white;
    background-color: rgb(188, 71, 71);
}
.sync{
    width: 12rem;
}
.line{
    width: 23rem;
    color: white;
    margin: 2em .01em;
}

.fb, .gp, .twitter
{
    margin: .8em;
    padding: 1.2em;
    width: 92%;
    border: none;
    text-align: left;
    color: white;
}
.fb{
    background-color: rgb(61, 61, 255);
}
.gp{
    background-color: rgb(228, 41, 41);
}
.twitter{
    background-color: rgb(62, 200, 255);
}

.login{
    width: 25%;
    height: 53.28%;
    padding: 3%;
    padding-top: 4.5rem;
    margin: -41.2% 52%;
    background-color: #fff;
}
.msg, .link
{
    padding: 1rem 0;
    color: rgb(188, 71, 71);
}
.lnk, .link{
    text-decoration: none;
}
.textbox{
    padding: 1em;
    width: 90%;
    margin: .8em 0;
}
.loginbutton
{
    padding: 1em;
    margin: 1em 0;
    width: 25%;
    color: #fff;
    border: none;
    border-radius: .3em;
    background-color: rgb(254, 50, 84);
}